In [3]:
import pandas as pd

In [16]:
df=pd.read_csv('data.csv')
df
#df.info()
#object Datatype = string

,Student_ID,Gender,Age,DSP_Marks,SSM_Marks,AP_Marks,Attendance,Study_Hours,Final_Grade,Parent_Income,Extracurricular_Activities
0,1,Male,18,75.0,NaN,85.0,90.0,4.0,NOT GRADED,"NPR50,000",Yes
1,2,Female,17,82.0,78.0,NaN,95.0,3.5,NOT GRADED,"NPR60,000",No
2,3,Male,19,NaN,70.0,75.0,85.0,2.0,NOT GRADED,"NPR55,000",Yes
3,4,Female,18,92.0,85.0,88.0,NaN,5.0,NOT GRADED,"NPR70,000",Yes
4,5,Male,20,60.0,65.0,70.0,75.0,NaN,Low,"NPR45,000",No
5,6,Female,19,78.0,NaN,85.0,92.0,3.0,NOT GRADED,"NPR68,000",Yes
6,7,Male,17,88.0,92.0,95.0,98.0,4.5,High,"NPR75,000",Yes
7,8,Male,18,70.0,75.0,80.0,88.0,NaN,Medium,"NPR58,000",No
8,9,Female,20,55.0,60.0,65.0,70.0,1.0,Low,"NPR42,000",Yes
9,10,Female,18,95.0,90.0,93.0,96.0,6.0,High,"NPR80,000",No

In [14]:
df.shape
# to find rows and columns

(10, 11)

In [23]:
#1 (average = mean)
df['Average marks']=0.0

df['Average marks']=df[["DSP_Marks","SSM_Marks","AP_Marks"]].mean(axis=1)
df ['Average marks']

0    80.000000
1    80.000000
2    72.500000
3    88.333333
4    65.000000
5    81.500000
6    91.666667
7    75.000000
8    60.000000
9    92.666667
Name: Average marks, dtype: float64

In [35]:

#2
noOfStudent = df[df["Average marks"] >= 80].shape[0]
print("No of student who have got above 80 average marks:",noOfStudent)

No of student who have got above 80 average marks: 6

In [38]:
groupBy = df.group('gender')
groupBy.describe()

AttributeError: 'DataFrame' object has no attribute 'group'